<% provide :title, t(:explore_microposts) %>
<h1><%= t :explore_microposts %></h1>

<%= form_with url: search_path,
              method: :get,
              data: { turbo_frame: 'found-microposts' },
              class: 'explore_microposts_form',
              id: 'explore_microposts_form' do |f| %>
  <div class="bar">
    <%= f.text_field 'keywords', placeholder: t(:keywords), value: @keywords %>
    <%= f.submit '➡' %>
  </div>
  <%= f.select 'sort_by', options_for_select(@sort_options) %>
<% end %>

<%= turbo_frame_tag 'found-microposts' do %>
  <% if @microposts.any? %>
    <%= will_paginate @microposts %>
    <ul class="microposts">
      <%= render @microposts %>
    </ul>
    <%= will_paginate @microposts %>
  <% end %>
<% end %>