<% provide :title, t(:explore_microposts) %>
<h1><%= t :explore_microposts %></h1>

<%= form_with url: search_path, method: :get, data: { turbo_frame: 'found-microposts' } do |f|  %>
  <%= f.text_field 'search-words', placeholder: t(:keywords) %>
  <%= f.submit 'search' %>
<% end %>

<%= turbo_frame_tag 'found-microposts' do %>
  <% if @microposts.any? %>
    <%= will_paginate @microposts %>
    <ul class="microposts">
      <%= render @microposts %>
    </ul>
    <%= will_paginate @microposts %>
  <% end %>
<% end %>