<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to "#{user.name}#{user.nickname}", user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t(:delete_user), user, data: { "turbo-method": :delete,
      turbo_confirm: "You sure?" } %>
      
  <% end %>
  <% @user = user %>
  <%= render 'shared/stats' %>
  <p style = "overflow-wrap: break-word;">
    自己紹介：<%= user.introduce %>
  </p>
  <p style = "overflow-wrap: break-word;">
    出身地：<%= user.birthplace %>
  </p>
</li>
