<% provide(:title, "Edit user") %>
<h1><%= t :update_your_profile %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, data: { turbo_method: :patch }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :introduce %>
      <%= f.text_area :introduce,  class: 'form-control' %>

      <%= f.label :birthplace %><br>
      <%= f.select :birthplace, options_for_select(User.prefectures), {}, class: 'pdownbox' %>
     
      <%= f.submit t(:submit_profile), class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">
        <%= t :change_gravatar %>
      </a>
    </div>
  </div>
</div>
