<% provide(:title, t(:all_users)) %>
<h1><%= t :all_users %></h1>

  <%= form_with(model: @user,  url: users_path, method: :get) do |f| %>
    <%= f.label :birthplace %> <br>
    <%= f.select :search, options_for_select(User.prefectures), {} , class: 'pdownbox'%><br>
  
    <%= f.submit t(:narrow_down), class: " selectbutton" %>
  <% end %>
  <%= form_with(model: @user,  url: users_path, method: :get) do |f| %>
    <%= f.submit t(:Not_narrow_down) ,class: "cancelbutton" %>
  <% end %>
<%= will_paginate %>

<ul class="users">
  <% if @searched.present? %>
    <%= render @searched %>
  <% end %>
</ul>

<%= will_paginate %>
