<% provide(:title, :all_users) %>
<h1><%= t :all_users %></h1>
<%= form_with(model: @model, url: users_path, method: :get , data: {turbo_frame: "searched-users-list"}) do |f| %>
  <%= f.text_field 'search_users' %>
  <%= f.hidden_field locale: @locale %>
  <%= f.submit "search", name: nil, class: "serched_users" %>

  <%= f.label :birthplace %>
  <br>
  <%= f.select :search_place, options_for_select(User.prefectures), {} , class: 'pdownbox'%><br>
  <%= f.submit t(:narrow_down), class: "selectbutton" %>
  <%= f.submit t(:Not_narrow_down) ,class: "cancelbutton" %>
<% end %>

<%= turbo_frame_tag "searched-users-list" do%>
  <% unless @users.blank? %>
    <%= will_paginate %>
      <ul class="users">
      <%= render @users %>
      </ul>
    <%= will_paginate %>
  <% else %>
    <p><%= t :no_search_users %></p>
  <% end%>
<% end %>
