<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %><%#
        %><span class="nickname"><%= @user.nickname %></span>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <p>自己紹介</p>
      <p style = "overflow-wrap: break-word;">
        <%= @user.introduce %>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <h3>固定Micropost</h3>
    <%= render 'shared/fixed' %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
