<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user">
    <%= link_to "#{micropost.user.name}#{micropost.user.nickname}", micropost.user %>
  </span>
  <span class="content">
    <% micropost.content_splitted.each do |fragment| %><%#
      %><% case %><%#
      %><% when fragment[:is_link] %><%#
        %><%= link_to fragment[:value], fragment[:to] %><%#
      %><% else %><%#
        %><%= fragment[:value] %><%#
      %><% end %><%#
    %><% end %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="controls">
    <%= render 'microposts/like',
                micropost: micropost,
                liked: current_user.like_count(micropost) > 0 %>
    <span class="separator">│</span>
    <div <%if @hidden_button %> class ="hidden_tag"<% end %> > 
      <span class="timestamp">
          <%= time_ago_in_words(micropost.created_at) %>
          <% if current_user?(micropost.user) %>
            <%= link_to t(:delete_post), micropost, data: { "turbo-method": :delete,
                                                    turbo_confirm: "You sure?" } %>
            <% if !micropost.is_fixed %>
            <%= link_to t(:fix_post), fix_micropost_path(micropost.id), data: { "turbo-method": :post,          #deleteなど固定されていないメソッドを追加した場合は、パス(_path)を書く必要あり
                                                    turbo_confirm: "You sure?" } %>
            <% end %>
          <% end %>
          <%= link_to t(:like_stm), like_users_micropost_path(micropost.id), data: { "turbo-method": :get } %>
      </span>
    </div>
  </span>
</li>
